
:root{
--color-1: #000;
--text-color: #fff;
--accent-color: #ff640a;
}
*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    list-style: none;
    
}
html{
    font-size: 12pt;
}
main{
    background-color: #000;
}
nav{
    height: 60px;
    background-color: #23252b;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.links-container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
nav a{
    height: 1005;
    padding: 0 27px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--text-color);
}
nav a:hover{
    color: var(--accent-color);
}
nav .home-link{
    margin-right: auto;
}
nav svg{
    fill:var(--text-color);
}
#sidebar-active{
    display: none;
}
.open-sidebar-button, .close-sidebar-button{
   
    display: none;
}

.icons-link{
    box-sizing: border-box;
    height: auto;
    width: 37%;
    padding: 20px 30px;
    justify-content: flex-start;
}
/* ------------------svg-logo----------------- */
.svg-logo{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.icon-nav{
    width: 1.2rem;
   
}
/* ------------------search----------------- */